@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-image: linear-gradient(to bottom, #d17205eb 50%, #04088ba8 30%, #c9c008db 20%);

  color: rgb(3, 166, 211);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  justify-content: flex-start;
}

header {
  background-color: 0;
  font-size: 30px;
  font-style: oblique;
  height: 100px;
  text-align: center;
}

p {
  font-size: 20px;
  font-weight: 600;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;

}

nav {
  background-color: #2804f4;
  font-size: 15px;
  height: 30px;
  text-align: center;
  padding: 10px;
}

a {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: none;
}

#iconav {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-bottom: -5px;
}